.header {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: wheat;
}

.header-title {
    font-size: 1.6rem;
    color: #8a0346;
    margin: 0;
    font-weight: 500;
}

.logo {
    height: 4em;
    cursor: pointer;
    padding: 0.1em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }