#root {
  max-width: 1280px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-con {
  margin: auto;
  width: 100vw;
  min-height: 100vh; /* Ensure content area fills the viewport */
  padding-top: 80px; /* Adjust according to the header height */
  box-sizing: border-box; /* Include padding in element's total width and height */
  display: flex;
  flex-direction: column;
}
